# Options of the application.
# Environment that the application runs in.
# Allowed values: "PRODUCTION", "DEVELOPMENT", "TEST"
NODE_ENV=
# Port that application's container (Docker) will be mapped to.
# It's not required. Must be an unsigned integer in range 1-65536.
APP_PORT=

# Options of the website.
# Endpoint to the website. Used mostly for SEO things.
# Example: https://bedrock-chests.oliverperzyk.com
NEXT_PUBLIC_WEBSITE_ENDPOINT_URL=
# Endpoint to the API server. Used mostly for statistics & allowing user to download the library
# directly through the website.
# Example: https://api.bedrock-chests.oliverperzyk.com
NEXT_PUBLIC_API_ENDPOINT_URL=https://localhost:3001
